<ul xmlns:py="http://genshi.edgewall.org/" class="menu-pagelet ${menu_label}" py:attrs="data_tags" title="${menu_label}">
	<py:for each="label, href, icon in children">
		<py:choose test="label">
			<li py:when="selected_item" class="selected"><a href="${href}"><img py:if="icon" src="${STATIC_URL}${icon.name}" alt="${label}" /><span>${label}</span></a></li>
			<li py:otherwise=""><a href="${href}"><img py:if="icon" src="${STATIC_URL}${icon.name}" alt="${label}" /><span>${label}</span></a></li>
		</py:choose>
	</py:for>
</ul>
