#-------------------------------------------------------------------------------
# Copyright David Watkins 2011
# 
# AMP-CMS is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#-------------------------------------------------------------------------------

<ul xmlns:py="http://genshi.edgewall.org/" class="menu-pagelet ${menu_label}" py:attrs="data_tags">
	<py:for each="label, href in children">
		<py:choose test="label">
			<li py:when="selected_item" class="selected"><a href="${href}"><span>${label}</span></a></li>
			<li py:otherwise=""><a href="${href}"><span>${label}</span></a></li>
		</py:choose>
	</py:for>
</ul>
