#-------------------------------------------------------------------------------
# Copyright David Watkins 2011
# 
# AMP-CMS is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#-------------------------------------------------------------------------------

<html xmlns:py="http://genshi.edgewall.org/"
	  xmlns:xi="http://www.w3.org/2001/XInclude"
	  py:strip="">
	<div py:match="content" class="pagelet-wrapper simple-pagelet" id="${data_model.name}-content">
		<div class="pagelet-title">${data_model.title}</div>
		<div class="pagelet-content">${content}</div>
	</div>
	<xi:include href="ampcms/pagelets/base.html" />
</html>
